<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Lista de Citas</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
  <div class="container mt-5">
    <h1 class="text-center">Lista de Citas</h1>
    <table class="table table-hover table-bordered mt-4">
      <thead class="table-dark">
        <tr>
          <th>ID Cita</th>
          <th>Fecha y Hora</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="cita : ${citas}">
          <td th:text="${cita.id}">1</td>
          <td th:text="${#dates.format(cita.fechaHora, 'yyyy-MM-dd HH:mm')}">2025-05-25 14:00</td>
          <td th:text="${cita.estado}">Vigente</td>
          <td>
            <a th:href="@{/cita/{id}/edit(id=${cita.id})}"
               class="btn btn-warning btn-sm">Editar</a>
            <a th:href="@{/cita/{id}/delete(id=${cita.id})}"
               class="btn btn-danger btn-sm"
               onclick="return confirm('¿Seguro que deseas eliminar esta cita?');">
              Borrar
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between mt-4">
      <a th:href="@{\/}" class="btn btn-secondary">Volver al Inicio</a>
      <a th:href="@{/cita/new}" class="btn btn-primary">Añadir cita</a>
    </div>
  </div>
</body>
</html>
