<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear contribuyente</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <form action="#" th:action="@{/contribuyente/new/save}" method="post">
        <div th:replace="~{fragments/contribuyenteForm :: contribuyenteForm(titulo='Crear contribuyente')}">

        </div>
    </form>
</body>
</html>