<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar medico</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <form th:action="@{'/medico/' + ${medico.numeroRegistroMedico} + '/edit/save'}" th:object="${medico}" method="post">
        <div th:replace="~{fragments/medicoForm :: medicoForm(titulo='Editar medico', medico=${medico})}">
            
        </div>
    </form>
</body>
</html>