<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear ordenservicio</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <form action="#" th:action="@{/ordenservicio/new/save}" method="post">
        <div th:replace="~{fragments/ordenservicioForm :: ordenservicioForm(titulo='Crear ordenservicio', ordenservicio=${ordenservicio})}">

        </div>
    </form>
</body>
</html>