<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Servicios</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <form action="#" th:action="@{/servicio/new/save}" th:object="${servicio}" method="post">

        <div th:replace="~{fragments/ServiciosForm :: ServiciosForm(titulo='Crear Servicios', servicios=${servicio})}">


        </div>
    </form>
</body>
</html>