<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fragmento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div th:fragment="contribuyenteForm(titulo, contribuyente)" class="container border border-2 w-25">
        <h1 class="text-center" th:text="${titulo}"></h1>
        <form th:object="${contribuyente}" autocomplete="off">
            <label class="col-form-label">Nombre</label>
            <input class="form-control" type="text" th:field="*{nombre}" required/>

            <label class="col-form-label">Fecha de Nacimiento</label>
            <input class="form-control" type="date" th:field="*{fechaDeNacimiento}" required placeholder="yyyy-MM-dd"/>

            <label class="col-form-label">Dirección de Residencia</label>
            <input class="form-control" type="text" th:field="*{direccionDeResidencia}" required/>

            <label class="col-form-label">Teléfono</label>
            <input class="form-control" type="text" th:field="*{telefono}" required/>

            <label class="col-form-label">Tipo de Documento</label>
            <input class="form-control" type="text" th:field="*{pk.tipoDocumento}" required/>

            <label class="col-form-label">Número de Documento</label>
            <input class="form-control" type="text" th:field="*{pk.numeroDocumento}" required/>

            <div class="text-center mt-3">
                <input type="submit" value="Guardar" class="btn btn-primary"/>
                <a th:href="@{/contribuyente}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</body>
</html>
